# ===============================
# Spring Boot DB Configuration
# ===============================
DB_URL=jdbc:postgresql://postgres:5432/hospitalDb
DB_USERNAME=postgres
DB_PASSWORD=postgres

# ===============================
# PostgreSQL Container Config
# ===============================
POSTGRES_DB=hospitalDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ===============================
# App Config (optional)
# ===============================
SERVER_PORT=8080
SPRING_PROFILES_ACTIVE=docker